.theme-light {
    --color-primary: #0060df;       /* light blue */ 
    --color-accent: #fd6f53;        /* orange */
    --background-color: #fbfbfe;    /* white */
    --font-color: #000000;          /* black */
}

.theme-dark {
    --color-primary: #17ed90;       /* light green */    
    --color-accent: #12cdea;        /* sky blue */
    --background-color: #243133;    /* black */
    --font-color: #fcfafa;          /* white */
}

html, body {
    height: 100%;
    width: 100%;
    background: var(--background-color);
    color: var(--font-color);
}

.pure-menu-item .pure-menu-link{
    background: var(--background-color);
    color: var(--font-color);
}

.center {
    margin-left: 30vw;
}

.footer-menu {
    position: absolute;
    bottom: 0px;
    margin-bottom: 1px;
    text-align: right;
}



